
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~vuetify/dist/vuetify.min.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

@import 'custom';

  .navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }

  .own-sidebar{
    a{
      text-decoration: none;
      color: #49525a;
    }
  }
  .v-list__tile__title{
    a{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  .w-100{
    width: 100%;
  }