{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Create</title>
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <script src="{% static "js/app.js" %}" defer></script>
{#    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">#}
</head>
<body>

    <div id="app">
        {% include 'partial/content.html' %}
    </div>
</body>

</html>