<v-app id="inspire">
    <v-navigation-drawer
            fixed
            v-model="drawer"
            app
    >
        {% include 'partial/sidebar.html' %}

    </v-navigation-drawer>
    <v-toolbar color="" fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer">
            <i class="material-icons"> menu </i></v-toolbar-side-icon>
        <v-toolbar-title>Hospital Management</v-toolbar-title>
    </v-toolbar>
    <v-content>

               <router-view></router-view>

    </v-content>
    <v-footer color=" " app inset>
        <span class="white--text pl-5">All right reserved 2019 Design and developed by <a href="http://www.microdreamit.com">MicrodreamIT </a></span>
    </v-footer>
</v-app>